bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
*.coverage
*.coveragexml

*.log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next/
out/

*.css.map

*.pid
*.seed
*.tar

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.vscode/
*.swp
*.swo

.env
.env.local
.env.*.local
